/* Animações */
/*@keyframes exemplo{
    0% { background-color: rgb(2, 236, 253);}
    50% {background-color: rgb(215, 243, 252);}
    100% {background-color: rgb(2, 236, 253);}
}*/

.fundo{
    
    /*
    animation: exemplo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    */

}

nav > ul{
    background-color: rgb(105, 105, 105);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: auto;
    flex-grow: 1;
    list-style: none;
    border-radius: 5px;
    padding: 0px;
    margin: 0px;
    justify-content: flex-end;

}


.menu{
    width: 45px;
    background-color: #d1d4d2;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; 
    border-radius: 3px;   
}

.Titulo_Principal{
    color: rgb(247, 8, 8);
    font-size: 20pt;
    text-align: center;

}

.noticias{
    grid: 0%;
}